# Server
PORT=4007
NODE_ENV=development

# Database
MONGODB_URI=your_mongodb_connection_string

# JWT
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=7d

# Email (Resend)
RESEND_API_KEY=your RESEND_API_KEY
EMAIL_FROM_NAME= your email EMAIL_FROM_NAME
